.nav {
    border-bottom: 1px dashed #ff4081;
}

.nav-list {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.nav-list:hover {
    filter: drop-shadow(0 0 2em #ff4081);
}

.nav-list.react:hover {
    filter: drop-shadow(0 0 2em #ff80ab);
}